<%- include("./partials/head.ejs") %>
<h1 class="text-center">Sign In</h1>
<div class="container">
    <form action="/user/signin" method="POST">
        <div class="mb-3">
            <label class="form-label">Email address</label
            >
            <input
                type="email"
                class="form-control"
                name="email"
            />
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label
            >
            <input
                type="password"
                name="password"
                class="form-control"
            />
        </div>
        <!-- <div class="mb-3 form-check">
            <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
                >Check me out</label
            >
        </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<%- include("./partials/scripts.ejs") %>
